@page "/Web_Courses"
<h3>Web_Courses</h3>

<input type="number" name="courseShow" @bind-value="limit" @oninput="(ChangeEventArgs e) => { if (int.TryParse(e.Value.ToString(), out int value) && value >= 0 && value <= 5) { limit = value; StateHasChanged(); } }">
<button class="btn btn-primary" @onclick="showCourses">Click me to see Web_Courses</button>

<ul>
    @foreach (var item in Courses.Take(limit))
    {
        <li>@item</li>
    }
</ul>


@code {
    private string[] Courses = new string[0];
    private int limit = 5;

    private void showCourses()
    {
        Courses = new string[] { "PHP", "JavaScript", "HTML", "CSS", "ASP.NET" };
        StateHasChanged();
    }
}
